MONGO_URL = https://localhost
DB_NAME = ECommerce-Project
PORT = 5000

JWT_SECRET = f3G7h2K9mP1sX8vL0qR4tZ6wB5nD3jF9cH2kV7yQ8aM0eS1uW4rN6oT5bL3xP2zJ8
JWT_LIFE_TIME="1d"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email
SMTP_PASS=app password
EMAIL_FROM=same email
FRONTEND_URL=http://localhost:3000