MONGO_URL = mongodb+srv://SayedMohamed:E1iLNVOkQUHwlntk@thefirstcluster.wjb73br.mongodb.net
DB_NAME = ECommerce-Project-ITI
PORT = 5000

JWT_SECRET="q9G8@7fB!mK4xZ3pT1vR2wS6eL0yU8cQ"
JWT_LIFE_TIME="1d"

CLOUD_NAME=dydclsnm6
API_KEY=625421763227928
API_SECRET=otM_r_1TgPNuavCiU8uMU0wbUrw