MONGO_URL = mongodb+srv://SayedMohamed:E1iLNVOkQUHwlntk@thefirstcluster.wjb73br.mongodb.net
DB_NAME = ECommerce-Project-ITI
PORT = 5000

JWT_SECRET="q9G8@7fB!mK4xZ3pT1vR2wS6eL0yU8cQ"
JWT_LIFE_TIME="1d"

CLOUD_NAME=dydclsnm6
API_KEY=625421763227928
API_SECRET=otM_r_1TgPNuavCiU8uMU0wbUrw

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=add_your_email
SMTP_PASS=create_pass_via_gmail
EMAIL_FROM=ITI.OrderNotification@gmail.com
FRONTEND_URL=http://localhost:3000

STRIPE_SECRET_KEY=''
STRIPE_PUBLISHABLE_KEY=''