<nav
      class="fixed top-0 w-full z-50 bg-white/80 dark:bg-slate-900/80 backdrop-blur-md shadow-sm dark:shadow-none"
    >
      <div class="flex justify-between items-center h-16 px-8 w-full max-w-screen-2xl mx-auto">
        <div class="flex items-center gap-12">
          <span
            class="text-xl font-black tracking-tighter text-slate-900 dark:text-white font-manrope uppercase"
            >Architect Store</span
          >
          <div class="hidden md:flex items-center gap-8">
            <a
              class="text-slate-600 dark:text-slate-400 hover:text-slate-900 dark:hover:text-slate-100 transition-colors text-sm font-medium font-inter"
              href="#"
              >Hinges</a
            >
            <a
              class="text-slate-600 dark:text-slate-400 hover:text-slate-900 dark:hover:text-slate-100 transition-colors text-sm font-medium font-inter"
              href="#"
              >Lighting</a
            >
            <a
              class="text-slate-600 dark:text-slate-400 hover:text-slate-900 dark:hover:text-slate-100 transition-colors text-sm font-medium font-inter"
              href="#"
              >Tools</a
            >
            <a
              class="text-blue-700 dark:text-blue-400 border-b-2 border-blue-700 dark:border-blue-400 pb-1 text-sm font-medium font-inter"
              href="#"
              >Materials</a
            >
          </div>
        </div>
        <div class="flex items-center gap-6">
          <div class="relative hidden lg:block">
            <span
              class="absolute left-3 top-1/2 -translate-y-1/2 text-outline material-symbols-outlined text-sm"
              >search</span
            >
            <input
              class="pl-10 pr-4 py-2 bg-surface-container-highest border-none focus:ring-2 focus:ring-primary rounded-lg text-sm w-64"
              placeholder="Search components..."
              type="text"
            />
          </div>
          <div class="flex items-center gap-4">
            <button
              class="p-2 hover:bg-slate-50 dark:hover:bg-slate-800/50 transition-all duration-200 rounded-full"
            >
              <span class="material-symbols-outlined" data-icon="shopping_cart">shopping_cart</span>
            </button>
            <button
              class="p-2 hover:bg-slate-50 dark:hover:bg-slate-800/50 transition-all duration-200 rounded-full"
            >
              <span class="material-symbols-outlined" data-icon="account_circle"
                >account_circle</span
              >
            </button>
          </div>
        </div>
      </div>
    </nav>