<section class="hero relative px-6 lg:px-20 py-16 lg:py-24 overflow-hidden">
  <div class="max-w-360 mx-auto grid lg:grid-cols-2 gap-16 items-center">
    <div class="flex flex-col gap-8 z-10">
      <div class="flex flex-col gap-4">
        <span class="text-primary font-bold tracking-[0.2em] text-xs uppercase"
          >Premium Hardware</span
        >
        <h1
          class="text-on-surface text-5xl lg:text-7xl font-headline font-extrabold leading-[1.1] tracking-tighter"
        >
          Precision in <span class="text-primary">Every Detail.</span>
        </h1>
        <p class="text-on-surface-variant text-lg lg:text-xl max-w-lg leading-relaxed font-body">
          Professional Grade Hardware for Modern Spaces. Engineered for durability, designed for
          aesthetics.
        </p>
      </div>
      <div class="flex flex-wrap gap-4">
        <app-button label="show products" variant="primary" route="/products" size="lg" [fullWidthOnMobile]="true"></app-button>
        <app-button label="seller portal" variant="secondary" route="/seller/dashboard" size="lg" [fullWidthOnMobile]="true"></app-button>
      </div>
    </div>
    <div class="relative group">
      <div
        class="absolute -inset-4 bg-primary-container/10 rounded-3xl blur-3xl group-hover:bg-primary-container/20 transition-colors"
      ></div>
      <img
        alt="Sleek modern door handle"
        class="relative rounded-2xl w-full h-150 object-cover shadow-2xl"
        data-alt="Sleek minimalist black door handle on white door"
        src= "/images/home/hero-door-handle.jpg"
      />
    </div>
  </div>
</section>
